# Ignore auxiliary texmaker files
*.aux
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
*.gz
*.bak*

RASD/*.pdf
DD/*.pdf

# Ignore Mac DS_Store files
.DS_Store

# Ignore IntelliJ files
.idea/
src/**/target/
